* {
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.child-one {
  display: inline-block;
  height: 400px;
  font-size: 3rem;
  text-align: center;
  line-height: 400px;
  border: 1px solid black;
  margin-top: 1rem;
}
.child-two {
  display: inline-block;
  height: 400px;
  font-size: 3rem;
  text-align: center;
  line-height: 400px;
  border: 1px solid black;
  margin-top: 1rem;
}
button {
  display: inline-block;
  margin-top: 3rem;
}
